- name: Setup Environment
  run: |
    echo "HEAVENAL_SYNC_MODE=true" >> $GITHUB_ENV
    echo "HEAVENAL_ENVIRONMENT=production" >> $GITHUB_ENV
    echo "HEAVENAL_GM_TOKEN=${{ vars.HEAVENAL_GM_TOKEN }}" >> $GITHUB_ENV
